*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
    font-size: 20px;
    padding-top:15px;
    padding-right: 40px;
    display:flex;
    justify-content: flex-end;
    
   
    
    
    
   }
   .nav ul{
    border: 0.2px solid rgb(233, 115, 115);

   }
   ul li{
       display: inline;
       padding-right: 45px;
       padding-bottom: 10px;
  
      
   }
   .intro {
    display: flex;
    flex-direction: column;
   align-items: center;
   padding-top: 20vh;

   }
    .home{
        height: 100vh; 
        background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
       
    }
    .conc ul li{
        padding-right: 20px;
    }
    .conc ul{
        position: relative;
        left: 30px;
    }

    #p {
        font-size: 155%;
        word-spacing: 20px;
        
    } 
    #name {
        font-size: 350%;
        margin-top: 10px;
        font-family: 'Sacramento', cursive;
    }
    #text{
        color: #f3d0d3;
        font-size: 120%;
    }
    
   