*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
    font-size: 20px;
    padding-top:15px;
    padding-right: 40px;
    display:flex;
    justify-content: flex-end;
    
   
    
    
    
   }
   .nav ul{
    border: 0.2px solid rgb(233, 115, 115);

   }
   ul li{
       display: inline;
       padding-right: 45px;
       padding-bottom: 10px;
  
      
   }
   .intro {
    display: flex;
    flex-direction: column;
   align-items: center;
   padding-top: 20vh;

   }
    .home{
        height: 100vh; 
        background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
       
    }
    .conc ul li{
        padding-right: 20px;
    }
    .conc ul{
        position: relative;
        left: 30px;
    }

    #p {
        font-size: 155%;
        word-spacing: 20px;
        
    } 
    #name {
        font-size: 350%;
        margin-top: 10px;
        font-family: 'Sacramento', cursive;
    }
    #text{
        color: #f3d0d3;
        font-size: 120%;
    }
    
    #text::after{
        content: "";
        position: absolute;
        right:-5px;
        width:3px;
         height:80%; 
        border-right: 2px solid rgb(36, 30, 30);
        animation: blink 1s infinite ease;
        position: relative;
        top:6px;
      
      }
      @keyframes blink {
        0%{
          opacity:0;
      
        }
        100%{
          opacity: 1;
        }
      
      }
      /* first landing page completed */


      /* About started */
     .about{
         height: 100vh;
         background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn;
     }

     .ab{
         font-size: 195%;
         padding-top: 18px;
         color:rgb(25, 63, 63) ;
         display: flex;
         flex-direction: column;
         align-items: center;

     }
     #b{
         color: red;
         
     }

      #header{
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-top: 10px;
         font-size: 115%;
         color: rgb(10, 88, 88);
     } 
     #h{
         font-size: 180%;
         padding-left: 45px;
         padding-top: 15px;
         padding-bottom: 10px;
         color: red;
     }
     .abu{
         margin-right: 10%;
         margin-left: 25%;
         padding-top: 15px;
         background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
         height: 60vh;
     }
     #my{
         font-size: 175%;
         padding-top: 1px;
         padding-left: 25px;
     }
     #n{
        font-size: 150%;
        padding-top: 1px;
        padding-left: 25px;
        padding-top: 5px;
     }
     #t{
        font-size: 125%;
        padding-top: 1px;
        padding-left: 25px;
        padding-top: 5px;
     }



     /* skill css started */
     .skill{
         height: 100vh;
         background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
 


     }
     #s{
         display: flex;
         align-items: center;
         flex-direction: column;
         font-size: 200%;
         padding-top: 15px;
         color: rgb(41, 151, 151);
     }
     #pr{
         padding-left: 45px;
         padding-top: 25px;
         font-size: 150%;
         font-weight: 500;
         color: rgb(5, 46, 46);
     }
    /* .progress{
        position: relative;
        width: 50%;
        margin-bottom: 25px;
         left: 55%;  */
    /* } */
    /* .ski{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
     